img::selection {
  color: #fff;
  text-align: center;
  background: transparent;
}

.imagesize {
  text-align: center;
}

.imagesize {
  height: 300px;
  width: 900px;
}

h1 {
  text-align: center;
}

.logo {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin-right: 10px;
}

