img::selection {
  color: #fff;
  text-align: center;
  background: transparent;
}

.imagesize {
  text-align: center;
}

.imagesize {
  height: 300px;
  width: 900px;
}

h1 {
  text-align: center;
}

.logo {
  height: 50px;
  width: 50px;
  background-color: white;
}

.logoed {
  border-radius: 20 px;
  border-radius: 28px;
}

.logoed {
}

.logoed {
  margin-right: 10px;
}

